<%= form_with(model: sentence) do |form| %>
  <% if sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
        <% sentence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, cols: 80 %>
  </div>

  <hr>

  <div id='entities'>
    <h5>Entities</h5>
    <hr>
    <%= form.fields_for :entities do |entity| %>
      <%= render 'entity_fields', :f => entity %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add entity', form, :entities %>
    </div>
  </div>

  <hr>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'entity_fields' %>